<!doctype html>
<html>
<head>
	<title>Node Authentication</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
		body 		{ padding-top:80px; word-wrap:break-word; }
	</style>
</head>
<body>
<div class="container">

	<div class="page-header text-center">
		<h1><span class="fa fa-anchor"></span> Profile Page</h1>
		<a href="/logout" class="btn btn-default btn-sm">Logout</a>
	</div>

	<div>	
	<!-- LOGIN FORM -->
	<form action="/get-badges" method="post">
		<div class="form-group">
			<label>Bitcoin Address</label>
			<input type="text" class="form-control" id="bitcoin-address" name="bitcoin-address" value="<%= user.local.address %>">
		</div>

		<button type="submit" class="btn btn-warning btn-lg">Get Badges</button>
	</form>
	</div>

	<div>
		<p><%= user.local.sent %></p>
		<p><%= user.local.rec %></p>
	</div>
<!--
	<div class="row">

		<div class="col-sm-6">
			<div class="well">
				<h3><span class="fa fa-user"></span> Local</h3>

					<p>
						<strong>id</strong>: <%= user._id %><br>
						<strong>email</strong>: <%= user.local.email %><br>
						<strong>password</strong>: <%= user.local.password %>
					</p>

			</div>
		</div>

	</div>
-->
</div>
</body>
</html>